[Unit]
Description=Neverwinter night server

[Service]
Type=forking
User=neverwinter
WorkingDirectory=/home/neverwinter/nwn

ExecStart=/usr/bin/tmux new-session -s nwn -n nwn_server -d /home/neverwinter/nwn/start_nwn.sh
#ExecReload=/usr/sbin/postfix reload
ExecStop=/usr/bin/tmux send-keys -t nwn C-q && /usr/bin/tmux kill-session -t nwn

Restart=on-failure


[Install]
WantedBy=multi-user.target

